@import '../includes/variables';

#about-us{
    h1{
        margin: 1em 0;
    }
    .about-us-main-block{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2em;
        span{
            font-size: 18px;
            font-weight: 500;
        }
        iframe{
            float: left;
        }
    }
}