@import '../includes/variables.scss';

#contact-us {
    margin: 5em auto;

    .contact-img {
        width: 900px;
        height: 700px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }

    .contact-info {
        display: block;
        text-align: center;
        margin: 1em 0;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .contact-block {
        display: grid;
        grid-template-areas: 'contactName mail'
            'message message';
        max-width: 700px;
        grid-gap: .5em;
        margin: 0 auto;

        >* {
            border-radius: 8px;
            border: none;
            box-shadow: 0px 0px 0px 0px #00695c88;
            padding: .5em;
            transition: .2s;

            &:focus {
                box-shadow: 0px 0px 0px 3px #00695c88;
            }
        }

        #name-contact {
            grid-area: contactName;
        }

        #mail-contact {
            grid-area: mail;
        }

        #message-contact {
            grid-area: message;
            height: 200px;
            resize: none;
        }

        button {
            background-color: $secondaryColor;
            color: $fontColor;

            &:hover {
                background-color: $lightSecondary;
                cursor: pointer;
            }
        }
    }
}