$primaryColor:#00695c;
$primaryColorTransparent:#00695c88;
$lightColor:#439889;
$darkColor:#003d33;
//-------------------------//
$secondaryColor:#424242;
$lightSecondary:#6d6d6d;
$darkSecondary:#1b1b1b;
//---------FONTS---------------//
$fontColor:#fff;
