@import './includes/variables';
.footer-block{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    text-align: center;
    background-color: $darkSecondary;

}
.footer-menu{
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    text-align: center;
    a{
        color: $fontColor;
        transition: .3s;
        font-size: 16px;
        width: 100%;
    }a:hover{
        color:$lightColor;
        transform: scale(1.1);
        font-weight: bold;
    }
}