@import "./includes/variables.scss";

.about-team-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5em;
    .about-img-block{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .about-img{
            width: 650px;
            height: 400px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .about-text-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        padding-left: 3em;

        h2{
            color:$primaryColor;
            font-weight: 700;
        }
        span{
            font-size: 16px;
            color: $secondaryColor;
            align-items: justify;
            font-weight: 600;
        }
        button{
            color: $fontColor;
            background-color: $secondaryColor;
            font-weight: 600;
            padding: 15px;
            border: none;
            border-radius: 10px;
            transition: .3s;
            &:hover{
                cursor: pointer;
                background-color: $lightSecondary;
            }
        }
    }
}
.interesting-fact-block{
    margin-bottom: 5em;
    h1{
        margin: 1em 0;
    }
    .random-fact-content{
        column-count: 2;
        text-align: justify;
        h3{
            margin: .4em 0;
        }

    }
    
}
.journey-block{
    margin-bottom: 5em;
    .layout{
            h2{
                font-weight: 900;
                color: $secondaryColor;
                margin-bottom: 1em;
            }
    }
}
