@import "./includes/variables.scss";

.about-team-block{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 50px auto;
    .about-img-block{
        display: flex;
        width: 100%;
        justify-content: flex-start;
        text-align: center;
        .about-img{
            width: 650px;
            height: 400px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .about-text-block{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
        max-width: 600px;
        h2{
            color:$primaryColor;
            font-weight: 700;
        }
        span{
            font-size: 16px;
            color: $secondaryColor;
            text-align: justify;
            font-weight: 600;
        }
        button{
            color: $fontColor;
            background-color: $secondaryColor;
            padding: 20px 15px;
            border: none;
            border-radius: 10px;
            transition: .3s;
            &:hover{
                cursor: pointer;
                background-color: $lightSecondary;
            }
        }
    }
}
